@media screen and (max-width: 1199px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: block;
    }
    .cover-foot .cover-foot-item-1 {
        width: 40%;
        position: relative;
    }
    .cover-foot .cover-foot-item-2 {
        width: 39%;
    }
    .cover-foot .cover-foot-item-3 {
        width: 20%;
    }
    .hompage .bg-video {
        display: none;
    }
    .header {
        display: none;
    }
    .cover-foot .cover-foot-item-1 {
        width: 40%;
        position: relative;
    }
    .cover-foot .cover-foot-item-2 {
        width: 39%;
    }
    .cover-foot .cover-foot-item-3 {
        width: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .footer-1 .position-relative .fa-plus-square:before {}
    .footer-1 .position-relative.collapsed .fa-plus-square:before {
        content: "\f0fe";
    }
    .cv-images {
        display: none;
    }
    #owl-carousel-for-cate {
        display: block;
    }
    .bg-video video {
        width: auto!important;
    }
    /*csutom*/
    .footer-1 .footer-app a img {
        height: 30px;
    }
}

@media screen and (max-width: 991px) {
    .cooking-today {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .section-cover .cover-foot .product-cover-item {
        display: none;
        left: 0;
    }
    .cover-foot .product-cover-item:first-child {
        display: block;
        transform: translateX(0);
    }
    .cover-foot .cover-foot-item-1 {
        width: 30%;
    }
    .cover-foot .cover-foot-item-2 {
        width: 38%;
    }
    .cover-foot .cover-foot-item-3 {
        width: 30%;
    }
    .cover-foot .cover-foot-item-1:after {
        right: 4%;
    }
    .page-section-8,
    .archive-product-content .product-categories,
    .mobile-991-hide {
        display: none;
    }
    .mobile-991-show {
        display: block;
    }
    .page-section {
        border-bottom: 2px solid #F3F6FA;
    }
    .product-filters,
    .nav-filters {
        display: inline-block;
    }
    #modal-region .action-to-cart-page {
        width: inherit !important;
    }
    #modal-region .action-content {
        display: flex;
        justify-content: flex-end;
    }
    #modal-region h3 {
        line-height: 1;
    }
    .product-action-add-cart .action-add-to-cart {
        display: none;
    }
    .section-product-detail .product-detail,
    .section-product-detail .product-formula,
    .section-product-detail .product-related {
        padding-left: 15px;
        padding-right: 15px;
    }
    .product-action-add-cart .m-action-add-to-cart {
        display: flex;
    }
    .page-product-detail .product-images {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 20px;
    }
    .section-product-detail .product-related {
        margin-bottom: 20px;
    }
    .page-product-detail .product-images img {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }
    .page-product-detail .section-product-detail {
        margin-top: -70px !important;
    }
    .cart-information-content.order-2 {
        -ms-flex-order: 1;
        order: 1;
    }
    .account-content .content {
        margin-left: 0;
        max-width: 100%;
    }
    .page-account .page-section {
        padding-top: 0;
        box-shadow: 0 12px 0 #E5E8EF;
        margin-bottom: 2rem;
    }
    .page-account #footer {
        border: 0;
    }
}

@media screen and (min-width: 1199px) {
    .footer-1 .footer-item .collapse.show {
        display: block!important;
    }
    .footer-1 .footer-item .collapse {
        display: block!important;
    }
    .footer-1 .footer-item .collapsing {
        display: block!important;
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-1 .footer-app a {
        margin: 0 0 10px 0;
        padding: 0;
    }
    .footer-1 a.collapse-plus,
    .footer-1 a.collapse-plus {
        display: none!important;
    }
    .collapse:not(.show) {
        display: block;
    }
    .footer-1 .footer-certificate img {
        height: 26px;
    }
}

@media screen and (max-width: 768px) {
    .page-section-1 h2.title,
    .page-section-4 h2.title,
    .page-section-3 h2.title,
    .page-section-5 h2.title,
    .page-section-6 h2.title,
    .title-mobile,
    .page-your-delicious-food .page-section h2 {
        font-size: 18px;
        color: #054954;
        font-weight: bold;
    }
    .page-section-4,
    .page-section-5,
    .page-your-delicious-food .page-section {
        padding-top: 0;
        position: relative;
        box-shadow: 0 12px 0 #E5E8EF;
        margin-bottom: 10px;
    }
    .page-section-1,
    .page-section-2,
    .page-section-3 {
        box-shadow: 0 12px 0 #E5E8EF;
    }
    .page-your-delicious-food .page-section:not(.page-section-1) {
        border: 0;
        padding-top: 50px;
    }
    .page-section-3:before {
        position: absolute;
        content: '';
        bottom: 0;
        height: 50%;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, #FFF 0%, #FCF9EF 100%);
    }
    .section-group-1 {
        padding-top: 25px;
        margin-top: 0;
    }
    .archive-product .sec-cover .form-search {
        width: 100% !important;
        flex: 0 0 100%;
    }
    .archive-product .sec-cover form .btn-action-bg-main {
        border-radius: 0px 4px 4px 0px;
    }
    .page-section-5 {
        padding-top: 50px;
    }
    .page-section-7 h2.title {
        font-weight: 300;
        font-size: 36px !important;
        line-height: 40px;
    }
    .buget {
        font-size: 11px;
        font-weight: 700;
    }
    #footer dt {
        color: rgba(0, 0, 0, 0.4);
    }
    .page-section-2 h2.title {
        font-size: 20px;
        color: #054954;
        font-weight: bold;
    }
    .page-section-2 .product .product-name {
        font-size: 15px;
    }
    #owl-carousel-for-cate .article-homepage img.h-100 {
        height: 212px !important;
    }
    #owl-carousel-for-cate .article-homepage .img-thumbnail {
        padding: 10px;
        border: 1px solid rgba(173, 162, 162, 0.2);
        border-radius: 10px;
        background-color: rgba(218, 228, 214, 0.2);
    }
    .nav-frm-orderby {
        display: flex !important;
    }
    .section-cover .cover-foot a.action {
        min-width: 210px;
        font-weight: 400;
    }
    .section-cover .cover-foot .cover-foot-item {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .section-cover .content {
        max-width: 100%;
        padding-bottom: 36px;
    }
    .head {
        background-position: center;
    }
    .cover-foot .cover-foot-item-3 {
        margin-top: 100px;
        margin-bottom: 0;
    }
    .cover-foot .cover-foot-item-3 .justify-content-end {
        justify-content: flex-start !important;
    }
    .cover-foot .cover-foot-item-1:after {
        width: 0;
    }
    .footer-1 a.collapse-plus {
        display: block;
    }
    .footer-1 .footer-item dl {
        margin-bottom: 30px;
    }
    .mobile-hide,
    .page-cart .head,
    .page-checkout .head,
    .page-thankyou .head,
    .page-account-order-detail .head,
    .page-account-order-detail .product-categories-col,
    .nav-categories-col,
    .blog-categories-col,
    .page-your-delicious-food .head {
        display: none !important;
    }
    .mobile-show {
        display: block;
    }
    .page-blog-detail .blog-cate-item .article-item .d-flex.content .thumbnail {
        margin-bottom: 10px;
    }
    .copyright {
        text-align: left !important;
        max-width: 47%;
    }
    .sec-cover .content {
        min-height: 375px;
    }
    .sec-cover .content h1 {
        font-weight: 300;
        font-size: 36px;
        line-height: 40px;
    }
    .news-item {
        border-bottom: 2px solid #F3F6FA;
        margin-bottom: 20px;
    }
    .article-list .article-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        position: relative;
    }
    .article-list .article-item:after {
        content: '';
        position: absolute;
        height: 10px;
        left: -15px;
        right: -15px;
        bottom: 0;
        background-color: #E5E8EF;
    }
    .article-list.delicious-food-list .article-item {
        padding-bottom: 0;
    }
    .article-list.delicious-food-list .article-item:after,
    .post-related .article-list .article-item:after {
        height: 0;
    }
    .article-list .nav-pagination {
        text-align: center;
    }
    .article-list.delicious-food-list .nav-pagination {
        text-align: right;
    }
    .news-item .order-2 {
        -ms-flex-order: 1;
        order: 1;
    }
    .news-item-1,
    .news-item-2 {
        display: block;
    }
    .news-list {
        margin-top: 20px;
        background: none;
    }
    .frm-orderby {
        margin-top: 20px;
    }
    .product .add-to-cart {
        width: 36px;
        height: 36px;
    }
    #modal-region {
        color: #384F5F;
        font-size: 15px;
    }
    #modal-region .modal-body {
        padding: 0 25px 40px 25px;
    }
    #modal-region h3 {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        font-weight: bold;
    }
    .frm-orderby .form-group-show-display {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-right: 0 !important;
    }
    #table-cart-mobile .btn-qty-minus.is-cart.is-min {
        padding-left: 5px;
        padding-right: 5px;
    }
    .table-cart-mobile {
        display: table;
    }
    .content-table-cart-mobile {
        box-shadow: 0px 2px 0px #E5E8EF;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .head-cart-mobile,
    .step-mobile {
        display: flex;
    }
    .tky-action {
        display: block !important;
    }
    .tky-action .btn-action-bg-main {
        margin-right: 0 !important;
        margin-bottom: 20px;
        width: 100% !important;
    }
    .thankyou-content h1 {
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
    }
    .thankyou-content {
        height: 100vh;
    }
    .account-content form .btn-action-bg-main {
        width: 100%;
    }
    .table-favourite tr td:last-child {
        vertical-align: bottom;
    }
    .account-content .content .title {
        font-size: 18px !important;
        line-height: 26px;
        margin-bottom: 0;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
    #modal-traceability h3.title,
    .section-traceability .text-title,
    .article-detail-content h2.text-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        color: #384F5F;
    }
    .table-ordered tr td:last-child .color-text-title {
        color: var(--color-main);
    }
    .cooking-today {
        grid-template-columns: 1fr 1fr;
    }
    #modal-search .modal-content {
        height: 100vh;
        align-items: center;
        padding-top: 40px;
    }
    #modal-search .modal-content .action-close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        color: var(--white);
    }
    .gallery-list .items {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .gallery-list .item {
        float: none !important;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50% !important;
    }
    .page-recruitment #footer {
        display: block;
    }
    #recruitment {
        margin-bottom: 0;
    }
    h2 {
        font-size: 28px !important;
        line-height: 28px;
    }
    .owl-carousel-stage-padding-50 .owl-stage {
        left: -50px;
    }
    .owl-carousel-stage-padding-100 .owl-stage {
        left: -100px;
    }
    .owl-carousel-stage-padding-70 .owl-stage {
        left: -70px;
    }
    .owl-carousel-stage-padding-30 .owl-stage {
        left: -30px;
    }
    .head-cart-mobile h3,
    .step-mobile h3 {
        font-size: 16px;
        line-height: 24px;
        color: #010F07;
    }
    .head-cart-mobile .back-page,
    .step-mobile .back-page {
        font-size: 14px;
        top: calc((100% - 28px) / 2);
    }
    #cart-totals .input-discount {
        height: 50px;
    }
    #cart-totals .btn-action-apply-discount {
        height: 50px;
    }
    #mobile-step-checkout-1 #login input.form-control {
        /* border: 0; */
        border: 1px solid #F3F2F2;
        border-radius: 0;
        /* padding-left: 0; */
    }
    #mobile-step-checkout-2 .select2-container--default .select2-selection--single,
    #mobile-step-checkout-2 input,
    #mobile-step-checkout-2 textarea {
        border: none;
    }
    #mobile-step-checkout-3 {
        height: 100vh;
        background: #F3F6FA;
    }
    #mobile-step-checkout-3 .step-content {
        background: #fff;
    }
    .section-cover .content h1 {
        font-size: 36px;
        line-height: 44px;
    }
    .head {
        margin-bottom: 0;
    }
    .m-frm-global-search {
        display: none;
    }
    .navbar-nav.menu-mobile {
        margin-top: 30px;
    }
    #modal-navigation-mobile .modal-content a.switch-language {
        font-size: 13px;
        font-weight: 500;
    }
    #modal-navigation-mobile .modal-content a.favourite {
        font-size: 13px;
        font-weight: 500;
        line-height: 26px;
    }
    #modal-navigation-mobile .modal-content a.favourite i {
        margin-right: 3px;
        font-size: 18px;
        vertical-align: top;
        margin-top: 4px;
    }
    #modal-navigation-mobile .switch-language,
    #modal-navigation-mobile .action-close {
        font-size: 18px;
    }
    .content-table-cart-mobile .cart-price {
        font-weight: 400;
    }
    .content-table-cart-mobile .product-unit {
        font-size: 12px;
    }
    .table-information .form-control {
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }
    .table-information td {
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
    }
    .table-information th {
        vertical-align: middle;
    }
    .table-information td textarea {
        height: 50px;
        line-height: 50px;
    }
    .step-content .item label {
        margin-right: 8px;
    }
    .news-item h2 {
        font-size: 18px!important;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }
    .news-item-2 .description.my-4 {
        margin: 10px 0 20px 0!important;
    }
    .news-item-2.py-5 {
        padding-top: 0!important;
    }
    .article-list .article-item .title {
        font-size: 18px;
        font-weight: 600!important;
    }
    .thankyou-content img {
        margin-top: 30px;
        display: inline-block;
    }
}

@media screen and (max-width: 380px) {
    #table-cart-mobile .product-qty {
        width: 30px;
    }
    .m-action-add-to-cart {
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-action-add-cart .m-action-add-to-cart .m-product-price {
        flex: 0 0 40%;
    }
    .product-action-add-cart .m-action-add-to-cart .text {
        flex: 0 0 60%;
    }
}