:root{
    --color-main: #7B9935;
    --color-white-opacity-01: #F4F4F436;
    --color-text-title: #315350;
    --bg-discount: #f6e1ce;
    --color-discount: #F07C28;
    --color-384F5F: #384F5F;
    --color-73838E: #73838E;
    --color-88959F: #88959F;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
input[type="text"], input[type="email"],
input[type="tel"],
input[type="password"],
input.form-control{
    height: 50px;
    line-height: 50px;
}
input[type="text"]:focus, input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
.form-control:focus,
textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--color-text-title) !important;
}
.font-weight-500{
    font-weight: 500 !important;
}
.font-weight-400{
    font-weight: 400 !important;
}
.color-text-title{
    color: var(--color-text-title);
}
.color-384F5F{
    color: var(--color-384F5F);
}
.color-88959F{
    color: var(--color-88959F);
}
.color-73838E{
    color: var(--color-73838E);
}
.color-main, a.color-main:hover{
    color: var(--color-main);
}
.bg-color-main{
    background-color: var(--color-main);
}
.bg-size-cover{
    background-size: cover !important;
}
.border-radius-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.border-radius-5{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.focus-no-shadow:focus{
    box-shadow: none !important;
}
.font-size-15px{
    font-size: 15px;
}
.font-size-14px{
    font-size: 14px;
}
.font-size-18px{
    font-size: 18px;
}
.font-size-48px{
    font-size: 48px;
}
.font-size-12px{
    font-size: 12px;
}
.max-width-500{
    max-width: 500px;
}
.max-width-800{
    max-width: 800px;
}
.max-width-900{
    max-width: 900px;
}
.max-width-1050{
    max-width: 1050px;
}
.font-barlow-semi-condensed, .text-title{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
a{
    font-weight: 400;
}
.font-weight-300{
    font-weight: 300;
}
a:hover{
    text-decoration: none;
}
a.color-text-title:hover{
    color: var(--color-text-title);
}
[data-toggle="collapse"]{
    cursor: pointer;
}
#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
#loader.loader-fade{
    display: none;
}
#loader img{
    max-width: 1000px;
}

/*input number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control {
    background: #fbfbfb;
}

.inner-bgd { 
    height: 100%;
    background: #FAFAFA;
    padding: 0 0 0 30px;
    position: relative;
    z-index: 1;
}
.inner-bgd:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fbfbfb; 
    top: -170px;
    z-index: -1;

}
/* The container */
.custom-radio-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.custom-radio-container .checkmark {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    top: 3px;
    background-color: transparent;
    border: 2px solid #868686;
    border-radius: 50%;
    margin-bottom: 0;
}

/* On mouse-over, add a grey background color */
.custom-radio-container:hover input ~ .checkmark {
    background-color: transparent;
}
.custom-radio-container .checkmark ~ *{
    font-size: 15px;
    line-height: 22px;
}
/* When the radio button is checked, add a blue background */
.custom-radio-container input:checked ~ .checkmark {
    background-color: var(--color-main);
    border: 0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.mobile-show, .mobile-991-show{
    display: none;
}
.head{
    position: relative;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: var(--white);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
    z-index: 9990;
    background: #fff;
}
.head-not-mg .head{
    margin-bottom: 0;
}
.head .img-logo{
    position: relative;
    z-index: 1;
}
.head .header .img-logo, .header-mobile .img-logo{
    position: absolute;
}
.homepage .head .header .img-logo{
    position: relative;
}
.header-mobile .img-logo{
    left: calc((100% - 140px) / 2);
}
.homepage .head{
    overflow: hidden;
}
.bg-video{
    position: absolute;
    padding-bottom: 56.25%; /* This reserves a 16:9 space */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg-video video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hm-item-1, .hm-item-2, .hm-item-3{
    min-height: 100px;
}
.head .a-logo{
    display: block;
    width: 160px;
    position: relative;
    height: 120px;
}
.cart-content {
    position: relative;
    display: inline-block;
}

.buget {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-main);
    line-height: 16px;
    text-align: center;
    font-size: 0.55rem;
    position: absolute;
    right: -5px;
    top: 0;
    color: #F2F2F2;
}
.icon-cart {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}
.nav-top-1{
    border-bottom: 1px solid #F4F4F436;
}
.nav ul li{
    padding-left: 15px;
    padding-right: 15px;
}
.nav ul li:last-child{
    padding-right: 0;
}
nav.nav-top-2-1.d-none{
    display: none !important;
}
.nav-top-2-1 ul li:first-child{
    padding-left: 0;
}
.nav-top-1 a, .nav-top-2 a{
    color: var(--white);
    font-size: 15px;
    line-height: 22px;
}
.header-mobile{
    display: none;
}
.header-mobile .navigation-mobile{
    font-size: 1.25rem;
    color: var(--white);
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-not-bg .header-mobile .navigation-mobile{
    color: #000000;
    border-color: #F4F4F4;
}
.header-mobile .buget{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
}
.head-not-bg .nav-top-2 a,
.head-not-bg .nav-top-1 a{
    color: var(--color-text-title)
}
.head-not-bg .nav-top-1{
    border-bottom-color: #F4F4F4;
}
#modal-navigation-mobile, .modal{
    z-index: 9999;
}
#modal-navigation-mobile .modal-dialog{
    margin: 0;
    max-width: 100% !important;
}
#modal-navigation-mobile .modal-content{
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: var(--color-main);
}
#modal-navigation-mobile .modal-content a{
    color: var(--white);
}
#modal-navigation-mobile .favourite, #modal-navigation-mobile .nav-account a{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border: 1px solid var(--color-white-opacity-01);
    padding: 6px 15px;
}
#modal-navigation-mobile .switch-language, #modal-navigation-mobile .action-close{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid var(--color-white-opacity-01);
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 1.25rem;
    justify-content: center;
}
#modal-navigation-mobile .action-close{
    color: var(--white);
    background-color: transparent;
}
#modal-navigation-mobile .modal-header{
    border: 0;
}
#modal-navigation-mobile .modal-header .nav-bar ul li {
    padding-left: 5px;
    padding-right: 5px;
}
#modal-navigation-mobile .modal-header .nav-bar ul li:last-child{
    padding-right:0;
}
#modal-navigation-mobile .menu-mobile li{
    margin-bottom: 10px;
}
#modal-navigation-mobile .menu-mobile a{
    font-weight: 900;
    font-size: 32px;
    line-height: 60px;
    display: block;
}
#modal-navigation-mobile .nav-account{
    list-style: none;
    padding: 0;
    margin-top: 30px;
}
#modal-navigation-mobile .nav-account li{
    padding-bottom: 10px;
}
#modal-navigation-mobile .nav-account a{
    display: block;
    text-align: center;
    border-color: var(--white);
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
#modal-navigation-mobile .nav-account a.sign-in{
    background-color: var(--white);
    color: var(--color-main);
}
#modal-video .action-close, #modal-login .action-close, #modal-register .action-close, #modal-traceability .action-close{
    position: absolute;
    right: 5px;
    top: 0;
}
.frm-global-search{
    display: flex;
    width: calc( 100% - 110px);
    top: -1rem;
    position: relative;
    margin-right: 15px;
}
.frm-result-search{
    position: relative;
}
.m-frm-global-search{
    position: relative;
    margin-bottom: 20px;
}
.frm-global-search .text-search,
.m-frm-global-search .text-search,
.frm-result-search .text-search,
#modal-traceability .traceability-code{
    background: #FBFBFB;
    border: 1px solid #F3F2F2;
    box-sizing: border-box;
    border-radius: 74px;
    -webkit-border-radius: 74px;
    -moz-border-radius: 74px;
    height: 54px;
    line-height: 54px;
    padding-left: 60px;
}
#modal-traceability h3.title{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#modal-traceability .traceability-code{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-left: 5px;
}
.m-frm-global-search .text-search{
    height: 50px;
    line-height: 50px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
}
.m-frm-global-search .text-search:focus{
    border: 1px solid var(--white) !important;
}
.frm-help-search{
    position: relative;
}
.frm-help-search .text-search{
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    color: #315350;
    border-color: var(--color-text-title);
}
.frm-help-search .text-search::placeholder{
    color: #315350e6;
}
.frm-global-search .text-search::placeholder,
#modal-traceability .traceability-code::placeholder{
    color: #9cacaa;
}
.m-frm-global-search .text-search::placeholder {
    color: #c5d2a7;
}
.frm-help-search .text-search:focus,
.frm-global-search .text-search:focus,
.m-frm-global-search .text-search:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--color-text-title);
}
.frm-result-search .text-search:focus{
    outline: none;
    box-shadow: none;
}
.frm-help-search .btn-search,
.frm-global-search .btn-search,
.m-frm-global-search .btn-search,
.frm-result-search .btn-search{
    outline: none;
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    font-size: 1.25rem;
    color: var(--color-384F5F);
}
.m-frm-global-search .btn-search{
    color: var(--white);
}
.frm-global-search .btn-search,
.frm-result-search .btn-search{
    color: var(--color-main);
    width: 54px;
    height: 54px;
    left: 5px;
}
.wrapper { overflow-x: hidden;}

.section-cover{
    position: relative;
    z-index: 99;
    padding-bottom: 40px;
}
.section-cover .content{
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 50%;
}
.section-cover .content h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: 0;
    text-align: left;
}
.section-cover .certificate{
    margin-top: 30px;
}
.section-cover .certificate ul li{
    padding: 0 5px;
}
.section-cover .certificate ul li:first-child{
    padding-left: 0;
}
.section-cover .cover-foot a.action{
    padding: 0 25px;
    border-radius: 30px;
    background-color: var(--color-main);
    color: var(--white);
    font-weight: 300;
    line-height: 56px;
}
.section-cover .product-cover-item{
    display: inline-block;
    position: relative;
    opacity: 1;
}
.section-cover .product-cover-item.animated:nth-child(2){
    transform: translateX(0);
}
.section-cover .product-cover-item.animated:nth-child(3){
    transform: translateX(-20px);
}
.section-cover .product-cover-item.animated:nth-child(4){
    transform: translateX(-40px);
}
.section-cover .product-cover-item:nth-child(1){
    opacity: 1;
    transform: translateX(-60px);
}
@-webkit-keyframes fadeInRight2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.product-cover-item.animated:nth-child(2){
    -webkit-animation-name: fadeInRight2;
    animation-name: fadeInRight2;
}
@-webkit-keyframes fadeInRight3 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}

@keyframes fadeInRight3 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}
.product-cover-item.animated:nth-child(3){
    -webkit-animation-name: fadeInRight3;
    animation-name: fadeInRight3;
}
@-webkit-keyframes fadeInRight4 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
    }
}

@keyframes fadeInRight4 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        transform: translateX(-40px);
    }
}
.product-cover-item.animated:nth-child(4){
    -webkit-animation-name: fadeInRight4;
    animation-name: fadeInRight4;
}
.section-cover .product-cover-item a.action-search{
    color: var(--color-main);
    background-color: var(--white);
}
.section-cover .product-cover-item img{
    width: 56px;
    height: 56px;
}
.product-cover-item .fa-search{
    font-size: 0.8rem;
}
.section-cover .cover-foot .view-video{
    color: var(--white);
    opacity: 0.7;
}
.cover-foot .cover-foot-item{
    display: inline-block;
}
.cover-foot .cover-foot-item-1:after{
    width: 1px;
    height: 70%;
    position: absolute;
    right: 28px;
    content: '';
    top: 15%;
    background-color: #F2F5EB;
    opacity: 0.3;
}
.cover-foot .cover-foot-item-1{
    width: 33%;
    position: relative;
}

.cover-foot .cover-foot-item-2{
    width: 46%;
}
.cover-foot .cover-foot-item-3{
    width: 20%;
}
.cooking-today{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.cooking-today .item{
    position: relative;
    text-align: center;
    background: #3153502b;
    padding: 15px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    min-height: 130px;
    min-width: 130px;
    display: block;
}
.cooking-today .item.bg-white{
    background: var(--white);
}
.cooking-today .item .img{
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cooking-today .item .title{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    right: 0;
    left: 0;
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

#modal-search-today{
    bottom: 0;
    height: inherit;
}

#modal-search-today .modal-content{
    background: var(--color-main);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
#modal-search-today .modal-content h3{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--white);
}
#modal-search-today .btn-search{
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    background: var(--white);
    color: var(--color-main);
    min-width: 200px;
}
#modal-search-today .action-close{
    display: none;

}
#modal-search-today.show{
    display: flex !important;
}
.cooking-today-item input.ckb-container {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.cooking-today-item label{
    cursor: pointer;
}
input.ckb-container:checked ~ .item{
    background: var(--white);
}
input.ckb-container:checked ~ .item .title{
    color: var(--color-text-title);
}
.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
#modal-search-today .modal-dialog{
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
}
#footer{
    border-top: 1px solid #3153501c;
    background: linear-gradient(180deg, #FFFFFF 0%, #FCF9EF 100%);
    padding-top: 40px;
}
.footer-1{
    color: #315350ba;
}
.footer-1 a{
    color: var(--color-text-title);
}
.footer-1 a.collapse-plus{
    position: absolute;
    right: 0;
    color: var(--color-main);
    display: none;
    top: calc((100% - 24px) / 2);
}
.footer-1 a.collapse-plus[aria-expanded="true"] .fa-plus-square:before{
    content: '\f146';
}
.footer-1 dt{
    font-size: 18px;
    line-height: 26px;
}
.footer-1 dd{
    margin-top: 10px;
}
.footer-1 dd a{
    color: var(--color-text-title);
}
#footer dt{
    color: rgba(49, 83, 80, 0.4);
}

.footer-1 .footer-item:last-child dl,
.footer-1 .footer-item:last-child dd{
    margin-bottom: 0;
}




.footer-1 .icon-social{
    margin-top: 33px;
    margin-bottom: 45px !important;
}
.footer-1 .footer-app{
    margin-top: 15px;
    margin-bottom: 45px !important;
}
.footer-1 .footer-certificate{
    margin-top: 15px;
    margin-bottom: 24px !important;
}
.footer-1 .icon-social a, .footer-1 .footer-certificate a,
.footer-1 .footer-app a{
    padding-left: 5px;
    padding-right: 5px;
}
.footer-1 .icon-social a:first-child,
.footer-1 .footer-certificate a:first-child,
.footer-1 .footer-app a:first-child{
    padding-left: 0;
}
.footer-1 .footer-certificate img{
    height: 40px;
}
.footer-1 .copyright{
    margin-top: 35px;
}

.footer-1 .copyright,
.footer-1 .description,
.footer-1 .nav-policy * {
    color: rgba(49, 83, 80, 0.5);
    font-size: 15px;
}

.nav-policy{
    list-style: disc;
}
.nav-policy li{
    padding-left: 15px;
}
.nav-policy li:first-child{
    list-style: none;
    padding-right: 45px;
    padding-left: 0;
}
.page-section{
    padding-top: 25px;
    padding-bottom: 25px;
}
.page-section-3 { position: relative; z-index: 1;}
.page-section h2{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
}
.section-group-1{
    position: relative;
    background: linear-gradient(to top, #FFFFFF 0%, #FCF9EF 100%);
    margin-top: -150px;
    padding-top: 115px;
}
.page-section-7 h2{
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
}
.page-section-3 img{
    position: relative;
    z-index: 999;
}
.product .product-name, .product-title{
    color: var(--color-text-title);
    font-size: 14px;
    line-height: 24px;
}
.product .product-date, .product .product-unit, .page-product-detail .product-unit,
.table-cart-information .product-unit{
    font-size: 12px;
    line-height: 14px;
    color: var(--color-88959F);
}
.product .product-thumbnail{
    position: relative;
    margin-bottom: 10px;
}
.product .product-thumbnail img{
    width: 100%;
}
.product .discount, .product .desc, .product .product-out-of-stock, .product-desc{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--bg-discount);
    color: var(--color-discount);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 3px 10px;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-align: center;
}
.product .product-out-of-stock{
    background-color: #eff2f2;
    color: var(--color-88959F);
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.product .add-to-cart{
    position: absolute;
    z-index: 99;
    right: 10px;
    bottom: 10px;
    background-color: var(--color-main);
    color: var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid var(--white);
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product .product-price-regular, .page-product-detail .product-price-regular{
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-main);
    text-decoration: none;
    font-size: 24px;
    padding: 7px 0;
}

.product .product-price-sale, .page-product-detail .product-price-sale{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: var(--color-88959F);
}
.owl-carousel .owl-item .article-homepage img{
    height: 50px;
    width: auto;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    left: -80px;
    top: calc( (100% - 230px ) / 2 );
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-weight: 500;
    font-size: 1.25rem;
}
.owl-carousel .owl-nav button.owl-next{
    left: inherit;
    right: -80px;
}
.article-homepage .title{
    font-size: 20px;
    line-height: 23px;
    color: var(--color-main);
}
.page-section-8{
    background-image: url('../images/bg-4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page-section-8 .content{
    max-width: 660px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 68px;
    background-color: var(--color-main);
    color: #F2F5EB;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.page-section-8 .content h2{
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
}
.page-section-8 .content .btn-to-link{
    font-size: 16px;
    line-height: 24px;
    color: var(--color-main);
    background: #F2F5EB;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    padding: 17px 48px;
    display: inline-block;
    margin-top: 70px;
}
.sec-cover{
    margin-top: -50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-cover .content{
    min-height: 380px;
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: center;
}
.sec-cover .content h1{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
    
}
.btn-action-bg-main{
    background-color: var(--color-main);
    color: var(--white);
    border: 1px solid var(--color-main);
    border-radius: 30px;
    display: inline-block;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 12px 35px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.btn-action-bg-main:hover{
    color: var(--white);
    opacity: 0.8;
}
.font-weight-500 .cart-price { font-size: 18px;}
.table-favourite .btn-plus { font-size: 20px; border: solid 2px #fff;}
.table-favourite .btn-plus:hover { font-size: 20px;}
.news-list{
    background-image: url("../images/news/bg-archive.png");
    background-position-y: -150px;
    background-size: contain;
    background-repeat: repeat-y;
}
.news-item {
    color: var(--color-text-title);
}

.article-detail-content .news-item {
    margin: 50px 0z;
}

.news-item h2{
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
}
.news-item .description{
    font-size: 15px;
    line-height: 22px;
}
.news-item-1, .news-item-2{
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.archive-product .sec-cover .content{
    padding-top: 12%;
    padding-bottom: 12%;
}
.archive-product .sec-cover form{
    flex: 0 0 50%;
}
.archive-product .sec-cover form input{
    height: 50px;
}
.archive-product .sec-cover form .btn-action-bg-main{
    height: 50px;
    border-radius: 0;
    display: flex;
    border: 1px solid var(--color-main);
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50px;
}

.archive-product-content{
    position: relative;
}
.archive-product-content:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    border-bottom: 1px dashed var(--color-384F5F);
}
.products .product{
    margin-bottom: 30px;
}
.product-categories .btn-action-collapse .icon-collapse, .btn-action-collapse .icon-collapse{
    position: absolute;
    right: 0;
    top: calc((100% - 20px) / 2);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f5eb;
    color: var(--color-main);
}

.product-categories .btn-action-collapse[aria-expanded="true"] i:before {
    content: '\f068';
}

.product-categories ul.submenu, .product-categories .cate-item, .product-categories h3,
.product-cate-item .nav-item{
    padding-left: 15px;
    padding-right: 15px;
}
.product-categories .product-cate-item,
.blog-categories .blog-cate-item,
.nav-categories .blog-cate-item{
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
}
.product-categories .product-cate-item:after,
.blog-categories .blog-cate-item:after,
.nav-categories .nav-cate-item:after{
    content: '';
    position: absolute;
    right: 15px;
    height: 1px;
    background: #EBEDEF;
    left: 15px;
    bottom: 0;
}
.product-categories .product-cate-item:last-child:after,
.blog-categories .blog-cate-item:last-child:after,
.nav-categories .nav-cate-item:last-child:after{
    height: 0;
}
.product-categories ul.submenu{
    border-left: 1px solid #F4F4F4;
}
.product-cate-item .nav-item a,
.blog-cate-item .nav-item a,
.nav-cate-item .nav-item a{
    position: relative;
    display: block;
}
.product-cate-item .nav-item .qty,
.blog-cate-item .nav-item .qty,
.nav-cate-item .nav-item .qty{
    position: absolute;
    right: 0;
    background-color: #f2f5eb;
    top: calc((100% - 20px) / 2);
    color: var(--color-main);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-transform: capitalize;
    padding: 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-categories ul.submenu li:not(:last-child),
.product-cate-item .nav-item li:not(:last-child),
.blog-cate-item .nav-item li:not(:last-child),
.nav-cate-item .nav-item li:not(:last-child){
    margin-bottom: 15px;
}
.product-categories h3,
.blog-categories h3,
.nav-categories h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-text-title);
}
.product-categories a,
.blog-categories a,
.nav-categories a{
    color: var(--color-text-title);
}
.product-categories .btn-product-all, .btn-action-link{
    background: #f2f5eb;
    width: 100%;
    display: block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 8px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.product-bought h6{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-text-title);
}

#email-newsletter{
    background-repeat: no-repeat;
    background-image: url('../images/bg-email-newsletter.jpg');
    background-position: right center;
    background-size: contain;
    min-height: 300px;
    margin-top: 50px;
    margin-bottom: 0;
}
#email-newsletter .content{
    width: 55%;
    display: flex;
    padding-top: 10%;
    padding-left: 50px;
    padding-bottom: 10%;
}
.frm-email-newsletter{
    display: flex;
}
.frm-email-newsletter button[type="submit"]{
    padding: 0;
    width: 139px;
    background: var(--color-main);
    box-shadow: none;
    border-radius: 43px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 20px;
    border: 1px solid var(--color-main);
}
.frm-email-newsletter input[type="email"]{
    border: 1px solid var(--color-text-title);
    border-radius: 4px;
}
.pagination .page-item{
    margin-left: 3px;
    margin-right: 3px;
}
.pagination .page-item .page-link {
    border: 1px solid #CCD0D2;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: var(--color-main);
    border-radius: 2px;
}
.pagination .page-item:not(.page-item-sep) .page-link:hover{
    color: var(--white);
    background-color: var(--color-main);
    border-color: var(--color-main);
}
.pagination .page-item.active .page-link{
    color: var(--white);
    background-color: var(--color-main);
    border-color: var(--color-main);
}
.pagination .page-item-sep .page-link{
    border-width: 0;
}
.pagination .page-item-sep .page-link:hover{
    background-color: transparent;
    color: var(--color-main);
    border-width: 0;
}
.frm-orderby{
    align-items: center;
    justify-content: flex-end;
}
select.show-display{
    width: 196px !important;
}
select.orderby{
    width: 160px !important;
}
.product-filters, .nav-filters {
    display: none;
    background-image: url('../images/icon/ic-filter-list.svg');
    background-size: 24px;
    background-position: center left;
    background-repeat: no-repeat;
    color: var(--color-main);
    padding-left: 30px;
}
#modal-product-categories .action-close,
#modal-nav-categories .action-close,
#modal-nav-account .action-close{
    position: absolute;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    right: -17px;
    top: 20px;
    background: var(--white);
    color: var(--color-main);
}
#modal-product-categories .modal-dialog,
#modal-nav-categories .modal-dialog,
#modal-nav-account .modal-dialog{
    max-width: 300px;
}
.product-action-add-cart .icon-bookmark{
    font-size: 1.5rem;
    margin-right: 20px;
    height: 48px;
    border-radius: 50%;
    background-color: #F2F5EB;
    color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.product-desc{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    margin-bottom: 15px;
}
.page-product-detail .product-title{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/*.page-product-detail .product-price-regular{
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
}*/
.product-detail-line{
    border-top: 1px dashed var(--color-384F5F);
}
.product-formula .title, .product-related .title{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: var(--color-text-title);
}
.section-product-detail .product-detail,
.section-product-detail .product-formula,
.section-product-detail .product-related{
    padding-left: 100px;
    padding-right: 100px;
}
.product-action-add-cart.d-none{
    display: none !important;
}
.product-action-to-cart .product-qty, .table-cart .product-qty{
    width: 28px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}
.product-action-to-cart .product-qty:focus{
    outline: none;
    box-shadow: none;
}
.btn-qty-minus, .btn-qty-plus,
.btn-qty-minus:hover, .btn-qty-plus:hover,
.btn-plus, .btn-plus:hover{
    font-size: 2.2rem;
    color: var(--color-main);
}

.btn-qty-minus.is-min, .color-88959F{
    color: var(--color-88959F);
}

#modal-region .action-close{
    color: #000;
}
#modal-region h3{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 52px;
    color: var(--color-text-title);
}
.form-group.w-100 .select2-container{
    width: 100% !important;
}
#modal-region .modal-body{
    padding: 0 50px 50px 50px;
}
#modal-region .modal-header{
    padding-bottom: 0;
    border-bottom: 0;
}
.select2-container--default .select2-selection--single{
    height: 38px;
    border: 1px solid var(--color-text-title);
}
.form-group.h-50px .select2-container--default .select2-selection--single{
    height: 50px;
}
.form-group.h-50px .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 35px;
    color: #80908f;
}
.form-group.h-50px .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #384F5F transparent transparent transparent;
    margin-left: -15px;
    border-width: 6px 5px 0 5px;
}
.frm-orderby .select2-container--default .select2-selection--single{
    border-color: #EBEDEF;

}
.frm-orderby .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: var(--color-text-title);
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 36px;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus{
    outline: none;
}
.page-product-detail .modal-backdrop.show, .modal-backdrop.show, .lg-backdrop.in{
    background-color: var(--color-text-title);
    opacity: 0.8;
}
.product-action-add-cart .m-action-add-to-cart{
    display: none;
}
.product-action-add-cart .m-action-add-to-cart .m-product-price,
.product-action-add-cart .m-action-add-to-cart .text{
    flex: 0 0 50%;
}
#m-modal-product-checkout.modal.show{
    display: flex !important;
}
#m-modal-product-checkout .action-dismiss-modal, .btn-continue-buy, .btn-continue-buy-guest{
    border-color: var(--color-text-title);
    background: #fff;
    color: var(--color-text-title);
}
#m-modal-product-checkout .action-dismiss-modal:hover, .btn-continue-buy:hover, .btn-continue-buy-guest:hover{
    color: var(--color-text-title);
}
#m-modal-product-checkout .modal-dialog{
    max-width: 100%;
}
#m-modal-product-checkout .modal-content{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.page-product-detail .product-images img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.product-images .product-desc.mobile-991-show{
    position: absolute;
    bottom: 15px;
    left: 15px;
    top: inherit;
    margin-bottom: 0;
}
.table-cart a:hover, .table-cart a:not(.btn-qty-minus):not(.btn-qty-plus), .table-cart .cart-price, .cart-price{
    color: var(--color-text-title);
}
.table-cart .product-thumbnail{
    width: 90px;
}
.table-cart td, .table-cart th{
    vertical-align: middle;
}
.table-cart thead th, #cart-totals th{
    font-weight: 300;
    border-top: 0;
    border-bottom: 1px solid #EBEDEF;
}
.table-cart td{
    border-bottom: 1px solid #EBEDEF;
}
.table-cart-mobile thead th, .table-cart-mobile td{
     border: 0;
 }
.table-cart tr td:first-child, .table-cart tr th:first-child, #cart-totals tr td:first-child{
    padding-left: 0;
}
.table-cart tr td:last-child, #cart-totals tr td:last-child{
    padding-right: 0;
}
#cart-totals tr th{
    padding-left: 0;
    padding-right: 0;
}
#cart-totals tr td{
    padding-top: 20px;
    padding-bottom: 20px;
}
.table-cart h3, #cart-totals h3{
    color: var(--color-text-title);
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
}
.btn-qty-minus.is-cart.is-min{
    width: 36px;
    height: 36px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #d0d6da;
    color: #F07C28;
}
.btn-qty-minus.is-cart.is-min i:before{
    content: '';
}
.btn-qty-minus.is-cart.is-min i{
    background-image: url("../images/icon/icon-delete.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#cart-totals{
    color: var(--color-text-title);
}
#cart-totals .cart-total h4{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}
#cart-totals .input-discount{
    height: 42px;
}
.btn-action-apply-discount{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
#cart-totals .cart-discount td, #cart-totals .cart-totals-temp td, #cart-totals .cart-totals-discount td {
    border-top: 0;
    border-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#cart-totals .cart-discount td{
    padding-top: 20px;
}
#cart-totals .cart-totals-discount td{
    padding-bottom: 20px;
}
.head-cart-mobile, .step-mobile{
    min-height: 100px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}
.head-cart-mobile h3,
.step-mobile h3{
    font-weight: 300;
    color: #010F07;
}
.head-cart-mobile .back-page,
.step-mobile .back-page{
    position: absolute;
    left: 15px;
    top: calc((100% - 42px) / 2);
    color: #000000;
    font-size: 1.75rem;
}
.head-cart-mobile{
    display: none;
}
.checkout-content .form-login{
    padding: 50px;
}
.checkout-content .form-login, .step-checkout .collapse-header, .step-checkout .step-content{
    border: 1px solid #EBEDEF;
}
.checkout-content .form-login h3{
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: var(--color-text-title);
}
.form-login label{
    color: #73838E;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.text-sep{
    position: relative;
    text-align: center;
    overflow: hidden;

}
.text-sep span{
    background-color: #ffffff;
    z-index: 99;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.text-sep:before{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: #EBEDEF;
    top: calc((100% - 1px) / 2);
    left: 0;
    z-index: 98;
}
.step-checkout .collapse-header{
    padding: 15px;
    display: flex;
    align-items: center;
}
.step-checkout .collapse-header .step-no1{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid #CCD0D2;
    background: #F5F5F5;
    margin-right: 20px;
}
.step-checkout .collapse-header.is-show{
    padding-left: 0;
    padding-right: 0;
    border: 0;
}
.step-checkout .step-content{
    padding: 15px;
}
.step-checkout .step-content .address-detail,
.account-content .content .address-detail{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background: rgba(123, 153, 53, 0.05);
    border-radius: 4px;
    padding: 15px;
}
.step-checkout .step-content .table-address-detail{
    margin-bottom: 0;
}
.step-checkout .step-content .table-address-detail th,
.address-another-detail th,
.table-information th,
.account-content .content .address-detail th{
    color: var(--color-88959F);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}
.table-information thead th{
    color: var(--color-384F5F);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    border: 0;
}
.table-information th:first-child, .table-information td:first-child{
    padding-left: 0;
}
.table-information th:last-child, .table-information td:last-child{
    padding-right: 0;
}
.step-content .item label{
    color: var(--color-text-title);
}
.step-checkout .step-content .table-address-detail td{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: var(--color-text-title);
}
.step-checkout .step-content .table-address-detail td,
.step-checkout .step-content .table-address-detail th,
.account-content .content .table-address-detail th,
.account-content .content .table-address-detail td{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.address-another-detail th,
.address-another-detail td{
    vertical-align: middle;
}
.address-another-detail, .step-content .item .item-content{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.address-another-detail th{
    color: var(--color-88959F);
    padding-left: 0;
}
.address-another-detail td{
    padding-right:0;
}
.payment-method-free-item{
    position: relative;
    width: 100%;
}
.payment-method-free-item .radio-payment-method-free{
    opacity: 0;
    width: 0;
    height: 0;
}
.payment-method-free-item span{
    background: #FFFFFF;
    border: 1px solid var(--color-text-title);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    cursor: pointer;
    position: absolute;
    width: 100%;
    text-align: center;
}
.payment-method-free-item .radio-payment-method-free:checked + span{
    background: rgba(123, 153, 53, 0.05);
    border: 2px solid var(--color-main);
    color: var(--color-main);
}
.table-cart-information .cart-total h4{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-text-title);
}
.cart-information-content h3.title, .checkout-content h3.title{
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    color: var(--color-text-title);
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #EBEDEF;;
}
.cart-information-content h3.title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #315350;
}
.cart-information-content h3.title span.total-quantity{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-88959F);
}

.nav-tabs-sign li.nav-item a{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    text-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.nav-tabs-sign li.nav-item:not(:last-child) a{
    border-right: 1px solid #F3F2F2;
}
.nav-tabs-sign li.nav-item a.active{
    color: var(--color-main);
    border-bottom: 3px solid var(--color-main);
}
.nav-tabs-sign li.nav-item a:not(.active){
    color: var(--color-88959F);
}
.step-to-step .head-cart-mobile:after,
.step-to-step .step-mobile:after{
    position: absolute;
    content: '';
    background: var(--color-main);
    height: 4px;
    left: 0;
    bottom: 0;
}
.step-checkout-2 .head-cart-mobile:after{
    width: 25%;
}
.step-checkout-3 .head-cart-mobile:after{
    width: 50%;
}
.step-checkout-4 .head-cart-mobile:after{
    width: 75%;
}
.step-checkout-5 .head-cart-mobile:after{
    width: 100%;
}
.user-information-receive, .step-checkout-5-item{
    box-shadow: 0 12px 0 #E5E8EF;
}
.action-step-continue{
    min-height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F6FA;
    box-shadow: 0px -1px 0px #E5E8EF;
}
#cart-information-mobile .product-title{
    font-size: 16px;
    line-height: 24px;
    color: var(--color-384F5F);
}
#cart-information-mobile .cart-price{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-384F5F);
    text-transform: capitalize;
}
.thankyou-content{
    max-width: 550px;
    margin: auto;
    height: calc( 100vh - 300px );
    align-items: center;
    color: var(--color-text-title);
}
.thankyou-content h1{
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
}
.nav-account h3{
    color: var(--color-text-title);
    font-size: 15px;
    line-height: 22px;
}
.nav-account li{
    position: relative;
}
.nav-account li a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 43px;
    color: var(--color-text-title);
}
.nav-account li.active > a:after{
    content: '';
    position: absolute;
    left: -15px;
    right: -15px;
    height: 100%;
    background: #f2f5eb;
    z-index: -1;
    border-radius: 30px;
}
#modal-nav-account .modal-content{
    height: 100vh;
}
#modal-nav-account .nav-account li {
    padding: 10px 15px;
    border-bottom: 1px solid #eef1f0;
}
#modal-nav-account .nav-account h3{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-88959F);
}
#modal-nav-account .nav-account li a i{
    margin-right: 15px;
    color: var(--color-main);
}
.account-content .content .title{
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: var(--color-text-title);
}
.account-content form .btn-action-bg-main{
    padding-left: 80px;
    padding-right: 80px;
}
.account-content .content{
    max-width: 570px;
    margin-left: 100px;
}
.page-account input::placeholder{
    color: #d3d9d9;
}
.event-modal-nav-account{
    background-image: url("../images/icon/icon-cate-color.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 1.5rem;
}
.table-address-detail-edit th:first-child,
.table-address-detail-edit td:first-child,
.table-address-detail th:first-child,
.table-address-detail td:first-child{
    padding-left: 0;
}
.table-address-detail-edit th:last-child,
.table-address-detail-edit td:last-child,
.table-address-detail th:last-child,
.table-address-detail td:last-child{
    padding-right: 0;
}
.table-address-detail-edit tr:first-child th,
.table-address-detail-edit tr:first-child td{
    padding-top: 0;
}
.another-address .address-add-more i{
    color: var(--color-main);
    background: #F2F5EB;
    padding: 2px 6px;
}
.another-address .address-add-more[aria-expanded="true"] i:before{
    content: '\f068';
}
#address-add-more{
    padding: 20px 15px;
    border: 1px solid #F2F5EB;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: 1rem;
}
.account-content .content .address-detail{
    margin-right: 0;
    margin-left: 0;
}
.page-account-address .account-content .content .js-edit-info,
.page-account-address .account-content .content .js-save-info,
.page-account-address .account-content .content .js-delete-info
{
    font-size: 12px;
    line-height: 14px;
    color: #b3b3b3;
}
.account-content .content .another-address-list .address-detail{
    background: #F4F4F4;
    border-radius: 4px;
}
.another-address-list td{
    color: var(--color-text-title);
    font-weight: normal;
}
.btn-plus, .btn-plus:hover, .btn-del, .btn-del:hover{
    background: var(--color-main);
    color: var(--white);
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.btn-del, .btn-del:hover{
    color: #F07C28;
    background: var(--white);
    border: 2px solid #cfd5d9;
    box-shadow: none;
}
.table-favourite thead th,
.table-ordered thead th{
    color: var(--color-88959F);
    font-weight: 300;
    border-top: 0;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
}
.table-favourite th , .table-favourite td,
.table-ordered th , .table-ordered td{
    vertical-align: middle;
}
.table-favourite td,
.table-ordered td{
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}
.table-favourite .product .product-title{
    font-size: 16px;
}
.page-account-favourite .account-content .content,
.page-account-orders .account-content .content{
    max-width: 100%;
}
.page-account-order-detail .content .back-page{
    font-size: 14px;
}
.order-list-mobile .item{
    border-top: 1px solid #EBEDEF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.order-list-mobile .item:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}
.order-list-mobile .order-col-item label{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #88959F;
}
.page-account-order-detail .list-item table th{
    width: 150px;
}
.newsletter-item .label{
    padding-top: 6px;
}

.blog-categories .blog-cate-item::after, .nav-categories .nav-cate-item::after{
    right: 0;
    left: 0;
}
.blog-categories h3,
.nav-categories h3{
    color: #3153509c;
}
.nav-cate-item .article-item{
    border-bottom: 1px dashed #EBEDEF;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.nav-cate-item .article-item .title{
    font-size: 15px;
}
.nav-cate-item .article-item .desc{
    font-size: 12px;
}
.article-list .article-item{
    margin-bottom: 30px;
}
.article-list .thumbnail img{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.article-list .article-item .title{
    color: var(--color-text-title);
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}
.post-related .article-list .article-item .title{
    font-size: 18px;
    line-height: 26px;
}
.article-list.delicious-food-list .title{
    font-size: 16px;
    line-height: 24px;
}
.article-list.delicious-food-list img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.article-list .article-item .description{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}
.article-list .article-item .desc{
    font-size: 13px;
    line-height: 15px;
    color: var(--color-88959F);
}
.article-list .nav-pagination{
    margin-top: 20px;
    text-align: right;
}
.nav-frm-orderby{
    display: none !important;
}
.article-detail-content .content{
    margin-top: 30px;
}
.article-detail-content .content a{
    color: var(--color-main);
}
.article-detail-content .content img{
    width: 100%;
}
.article-detail-content .content .desc-image{
    font-size: 13px;
    line-height: 23px;
}
.article-detail-content h2.title{
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: var(--color-text-title);
    margin-bottom: 10px;
}
.article-detail-content .desc-date{
    font-size: 13px;
    line-height: 15px;
    color: var(--color-88959F);
}
.article-detail-content .content{
    color: var(--color-text-title);
    font-size: 15px;
}
.post-related h3.title{
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: var(--color-text-title);
}
.post-related{
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
}
.post-related:before{
    content: '';
    position: absolute;
    z-index: 9999;
    width: 100%;
    border: 1px dashed #384F5F80;
    top: 0;
}
.btn-action-link{
    background: #F2F5EB;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    color: var(--color-main) !important;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    padding: 15px 20px;
    position: relative;
}
.btn-action-link i{
    position: absolute;
    right: 20px;
}
.shop-list .shop-description i{
    color: var(--color-main);
    margin-right: 10px;
}
.gallery-list img.img-responsive{
    width: 100%;
}
.gallery-list .gallery-item{
    margin-bottom: 21px;
}
.gallery-list .items{
    overflow: hidden;
    padding-left: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.gallery-list .item{
    margin-bottom: 21px;
}
.gallery-list .item .gallery-item-image{
    display: block;
}
.gallery-list .item.has-video .gallery-item-image{
    position: relative;
    cursor: pointer;
}
.gallery-list .item.has-video .play-video{
    position: absolute;
    left: calc((100% - 74px) / 2);
    top: calc((100% - 83px) / 2);
}
.gallery-list .item.has-video .play-video img{
    width: 74px;
}

.gallery-list .item.item-large{
    float: left;
    max-width: 66.666667%;
}
.gallery-list .item.item-small{
    max-width: calc(33.333333% / 2);
    float: left;
}
.gallery-list .item.item-medium{
    max-width: 33.333333%;
    float: left;
}

.gallery-list .item-8 a,
.gallery-list .item-10 a{
    margin-bottom: 22px;
    display: block;
}
.lg-actions .lg-prev::after,
.lg-actions .lg-next::before{
    font-family: 'Font Awesome 5 Pro' !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-main);
    color: var(--color-main);
    background-color: var(--white);
    border-radius: 50%;
}
.lg-actions .lg-prev::after{
    content: '\f053';
}
.lg-actions .lg-next::before{
    content: '\f054';
}
.lg-toolbar.lg-group{
    display: none;
}
.gallery-list .item-medium.has-video .play-video{
    position: absolute;
    left: calc((100% - 54px) / 2);
    top: calc((100% - 60px) / 2);
}
.gallery-list .item-medium.has-video .play-video img{
    width: 54px;
}

.gallery-list .item-small.has-video .play-video{
    position: absolute;
    left: calc((100% - 32px) / 2);
    top: calc((100% - 36px) / 2);
    cursor: pointer;
}
.gallery-list .item-small.has-video .play-video img{
    width: 32px;
}
.vjs-control-bar {
    display: none;
}
.lg-outer .lg-has-html5 .lg-video-play{
    background: url('../images/play-video.png') no-repeat;
    background-size: 64px;
}
.recruitment-content, .help-content{
    color: var(--color-text-title);
}
.recruitment-content .lbl-title, .help-content .lbl-title{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #31535075;
}
#recruitment, #collapse-content{
    margin-bottom: 4rem;
}
.recruitment-collapse, #collapse-content .collapse-item{
    position: relative;
    cursor: pointer;
    padding: 15px 0;
}
.recruitment-collapse:after,
#collapse-content .collapse-item:after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-bottom: 1px dashed #384F5F;
}
#collapse-content .collapse-item:after{
    border-bottom-style: solid;
    border-bottom-color: #384F5F1C;
}
#collapse-content .collapse-heading-last-child .collapse-item:after{
    border-bottom: none;
}
.recruitment-collapse[aria-expanded="true"] .btn-action-collapse i:before,
#collapse-content .collapse-item[aria-expanded="true"] .btn-action-collapse i:before {
    content: '\f068';
}
.recruitment-collapse .btn-action-collapse .icon-collapse,
#collapse-content .collapse-item .btn-action-collapse .icon-collapse{
    position: relative;
}
.recruitment-collapse .btn-action-collapse,
#collapse-content .collapse-item .btn-action-collapse{
    position: absolute;
    right: 15px;
    top: calc( (100% - 20px) / 2 );
}
.recruitment-collapse .location i{
    color: var(--color-main);
}
.page-recruitment #footer{
    display: none;
}

#modal-login .action-close,
#modal-register .action-close, #modal-traceability .action-close{
    top: 15px;
    right: 15px;
}
#modal-login h3.title,
#modal-register h3.title{
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    color: var(--color-text-title);
    text-align: center;
}
#modal-login .modal-dialog,
#modal-register .modal-dialog{
    max-width: 650px;
}
#modal-login .form-control,
#modal-register .form-control, .form-control-h-54px{
    height: 54px;
    line-height: 54px;
    background: #FBFBFB;
    border: 1px solid #F3F2F2;
    box-sizing: border-box;
    border-radius: 6px;
}
#modal-login .form-control:focus,
#modal-register .form-control:focus{
    box-shadow: none;
}
#modal-login .form-control::placeholder,
#modal-register .form-control::placeholder, .form-control-h-54px::placeholder{
    color: #31535040;
}
#modal-login .content,
#modal-register .content{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.news-intro{
    max-width: 800px;
    text-align: center;
    padding: 40px 0;
    margin-left: auto;
    margin-right: auto;
}
.everyday-organic {
    background: #f8faf7;
    padding-top: 50px;
    padding-bottom: 50px;
}
.everyday-organic h1{
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
}
.page-news-detail .post-related.no-border::before{
    border: 0;
}
.page-news-detail .post-related h3.title{
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
}
.owl-carousel .article-item:after{
    height: 0 !important;
}
.ui-widget.ui-widget-content .autocomplete-title{
    font-weight: bold !important;
    text-transform: uppercase;
    padding-left: 15px;
}
.ui-widget.ui-widget-content{
    padding: 15px 0;
    color: var(--color-text-title);
    background: #F2F5EB;
    border-radius: 4px;
    z-index: 99999;
}
.ui-widget.ui-widget-content li > div{
    padding-left: 15px;
}
.ui-menu .ui-menu-item-wrapper{
    padding-left: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 0;
    background: var(--color-main);
}
.autocomplete-ui-overlay{
    position: fixed;
    background-color: var(--color-text-title);
    opacity: 0.8;
    width: 100%;
    z-index: 999;
    height: 100%;
    top: 108px;
}
.section-traceability{
    background-color: #f2f5eb;
    padding-top: 50px;
    padding-bottom: 50px;
}
.traceability-item-first{
    background-color: #FBFBFB;
}
.traceability-item{
    padding: 30px 20px;
    background-color: #F8FAF7;
}
.table-traceability-item{
    background-color: transparent !important;
}
.table-traceability-item th,
.table-traceability-item td{
    border-top: 0;
    border-bottom: 1px dashed var(--color-384F5F);
    padding-left: 0;
    padding-right: 0;
}
.table-traceability-item th,
.table-traceability-item td{
    color: var(--color-text-title)
}
.traceability-item h3.title{
    color: #000000;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 15px;
}
.img-child{
    position: absolute;
    transition: all .25s ease-in-out 0s;
    cursor: pointer;
}
.img-child a.goto-link{
    padding: 5px 15px;
    font-size: 18px;
    line-height: 26px;
    border: 2px solid #FFFFFF;
    position: absolute;
    right: -10px;
    top: 40%;
    z-index: 9999;
    font-weight: 700;
    display: none;
}
.img-child-1 a.goto-link, .img-child-2 a.goto-link{
    right: calc((100% - 96px) / 2);
}
.img-child-4 a.goto-link{
    right: calc((100% - 127px) / 2);
}
.img-child-5 a.goto-link{
    right: calc((100% - 142px) / 2);
}
.img-child-3 a.goto-link{
    right: calc((100% - 171px) / 2);
}
.img-child-6 a.goto-link{
    right: calc((100% - 137px) / 2);
}
.img-child a.goto-link:hover{
    opacity: 1;
}
.img-child a.goto-link i{
    transform: rotate(45deg);
    margin-left: 10px;
}
.img-child-1{
    width: 231px;
    bottom: 10px;
    left: 0;
    z-index: 98;
}
.img-child-2{
    bottom: -30px;
    left: 9%;
    z-index: 99;
}
.img-child-3{
    bottom: 30px;
    left: 27%;
    z-index: 98;
}
.img-child-4{
    bottom: 14px;
    left: 46%;
}
.img-child-5{
    left: 67%;
    bottom: 70px;
}
.img-child-6{
    right: 0;
    bottom: 40px;
}
.img-child-6 img{
    width: 280px;
}
.cv-images img{
    opacity: 1;
}
.img-child:hover{
    z-index: 99;
}
.img-child:hover a.goto-link{
    display: block;
}
.img-child:hover img{
    opacity: 1;
}
.cv-images{
    min-height: 426px;
    width: 100%;
}
#owl-carousel-for-cate{
    display: none;
}
.owl-theme .owl-dots .owl-dot span{
    background: rgba(0, 0, 0, 0.1);
    width: 6px;
    height: 6px;
    margin: 3px;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: var(--color-main);
}
.ui-menu .ui-menu-item{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-widget{
    font-family: 'Roboto', sans-serif;
}
